@use 'bulma/sass/components/navbar'
@use 'bulma/sass/grid/columns'
@use 'bulma/sass/components/card'
@use 'bulma/sass/utilities/derived-variables'
@use 'bulma/sass/utilities/initial-variables'

$navbar-height-new: navbar.$navbar-height + 2rem
$column-gap: columns.$column-gap
$radius: card.$card-radius

main
  flex-grow: 1

img
  background-color: #e6f7ef

.specific.logo
  height: 20px
  max-height: navbar.$navbar-item-img-max-height

@media screen and (min-width: 1024px)
  .specific.logo
    height: 24px
    max-height: 40px

.specific.links
  max-width: 70%

.specific.first_screen
  position: relative
  //min-height: calc(100vh - $navbar-height-new)

  &.directions .first_screen_title
    font-size: 5rem

    @media (max-width: 768px)
      font-size: 3rem

    @media (max-width: 360px)
      font-size: 2rem

  &.directions .top_image
    opacity: 0.3

  .top_image
    position: absolute
    width: 100%
    height: 100%
    border-radius: 0
    object-fit: cover
    object-position: center top

  .first_screen_image
    transform: scaleX(-1)
    opacity: 0.7

  .first_screen_title
    font-size: 5rem
    max-width: 800px
    padding-top: 5.25rem
    padding-bottom: 1rem

    & + h2
      max-width: 500px

    @media (max-width: 768px)
      font-size: 3rem

.my_section
  scroll-margin: $navbar-height-new

  .my_hero_body
    padding-top: 3rem
    padding-bottom: 0

    .my_hero_padding
      padding-top: 1.5rem
      padding-bottom: 0

      h1:not(:last-child)
        margin-bottom: 4rem

    @media (max-width: 768px)
      .my_hero_padding
        padding: 0

        h1:not(:last-child)
          margin-bottom: 2rem

    img.my_image
      object-fit: cover
      border-radius: calc($radius + $column-gap)

    .my_image
      width: 100%
      height: 100%

    .my_columns.specific
      @media (min-width: 450px)
        display: flex

    .my_columns
      align-items: stretch

      .featuredCard
        @media (max-width: 768px)
          &:nth-child(2n)
            display: none

      .specific.productCard
        position: relative
        height: 100%
        border-radius: $radius

        & .left
          position: absolute
          right: card.$card-content-padding
          top: card.$card-content-padding
          border-color: transparent
          z-index: 1

        img
          object-fit: cover
          border-radius: $radius $radius 0 0

        .my_media_content
          overflow: unset

        .hosted
          position: absolute
          right: card.$card-content-padding
          bottom: card.$card-content-padding
          height: 36px
          align-items: center
          border: 0
          z-index: 1

          span
            flex-shrink: 0
            font-size: 0.9rem
            color: #fffef0

          svg
            flex-shrink: 0
            background-color: transparent
            height: 100%
            border-radius: 0
            color: #fffef0

.my_section:last-of-type, .my_section_coloured, .my_section_before_coloured
  .my_hero_body
    padding-bottom: 3rem

    .my_hero_padding
      padding-bottom: 1.5rem

.my_search_container
  padding: 1.5rem 3rem
  border-radius: $radius

  .specific.selector:after
    border-color: black

.my_search_container > form

  a
    min-width: 72px

  @media screen and (max-width: 768px)
    flex-direction: column

    a:after
      content: 'Search'
      color: white
      padding-left: 10px

.top
  padding-top: $navbar-height-new

.padding
  padding-bottom: 2rem

.price
  position: relative

  .my_price_box
    position: sticky
    top: calc($navbar-height-new + $column-gap)

@media (max-width: 768px)
  .booking
    display: flex
    flex-direction: column

    .price
      order: 2

    .empty
      order: 1

.disabled
  pointer-events: none
  cursor: default
  background-color: initial-variables.$grey-light

.my_card_content
  display: none

.opened
  display: block

.my_container
  position: relative

  .hosted_directions
    position: absolute
    right: 0
    bottom: -7rem
    display: flex
    align-items: center
    column-gap: 0.5rem
    height: 40px
    border: 0
    z-index: 1

    @media (max-width: 768px)
      bottom: 0


    span
      flex-shrink: 0
      color: #1f1f1f

      @media (min-width: 500px)
        &:before
          content: 'hosted '

    svg
      flex-shrink: 0
      background-color: transparent
      height: 100%
      max-width: 100px
      border-radius: 0
      color: #1f1f1f

.appear
  opacity: 1
  transition: opacity 0.5s ease-out

.disappear
  opacity: 0
  transition: opacity 0.5s ease-out

.my_carousel
  position: relative
  aspect-ratio: 16/9

  .my_carousel_buttons
    position: absolute
    top: 0
    left: 0
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    height: 100%
    padding-left: 2rem
    padding-right: 2rem

  .img_focus
    object-position: top center

    @media (max-width: 768px)
      object-position: center center

.columns
  position: relative

  .right_picture, .left_picture
    height: auto
    right: 0

    @media (min-width: 769px)
      position: absolute
      height: 100%

    .picture_container
      height: 100%

  .right_picture
    right: 0

  .left_picture
    left: 0
