@use "../../../node_modules/bulma/sass/components/navbar"
@use '../../../node_modules/bulma/sass/grid/columns'
@use 'bulma/sass/utilities/derived-variables'
@use 'bulma/sass/utilities/initial-variables'

$navbar-img-max-height: navbar.$navbar-item-img-max-height
$navbar-height-new: navbar.$navbar-height + 2rem
$column-gap: columns.$column-gap
$grey: initial-variables.$grey-light

img
  background-color: #e6f7ef

.specific.logo
  height: 20px
  max-height: $navbar-img-max-height

@media screen and (min-width: 1024px)
  .specific.logo
    height: 24px
    max-height: 40px

.specific.links
  max-width: 70%

.specific.first_screen
  position: relative
  //min-height: calc(100vh - $navbar-height-new)

  .first_screen_image
    position: absolute
    width: 100%
    height: 100%
    object-fit: cover
    object-position: center top

  .first_screen_title
    font-size: 5rem
    max-width: 800px
    padding-top: 6rem
    padding-bottom: 1rem

    @media (max-width: 768px)
      font-size: 3rem

.my_section
  scroll-margin: $navbar-height-new

  .my_hero_body
    padding-top: 3rem
    padding-bottom: 0

    .my_hero_padding
      padding-top: 1.5rem
      padding-bottom: 0

      h1
        margin-bottom: 4rem

    @media (max-width: 768px)
      .my_hero_padding
        padding: 0

        h1
          margin-bottom: 2rem

    img.my_column
      object-fit: cover
      border-radius:  calc(20px + $column-gap)

    picture img.my_column
      width: 100%
      height: 100%

    .my_columns
      align-items: stretch

      .specific.productCard
        height: 100%
        border-radius: 20px

        img
          object-fit: cover
          border-radius: 20px 20px 0 0

        .my_media_content
          overflow: unset

.my_section:last-of-type, .my_section_coloured
  .my_hero_body
    padding-bottom: 3rem

    .my_hero_padding
      padding-bottom: 1.5rem

.my_search_container
  padding: 1.5rem 3rem
  border-radius: 20px

  .specific.selector:after
    border-color: black

.my_search_container > form

  a
    min-width: 72px

    &.disabled
      pointer-events: none
      cursor: default
      background-color: $grey

  @media screen and (max-width: 768px)
    flex-direction: column

    button:after
      content: 'Search'
      color: white
      padding-left: 10px

.top
  padding-top: $navbar-height-new

